@use '../common/color' as *;

footer {
    width: 100%;
    padding: 120px 0px 60px;
    background-color: $bg-T;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;

    .inner{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 100px;
    }
    .footer-content{
        h4{
            font-size: 28px;
            font-weight: 600;
            color: $text-P;
        }
        ul{
            margin-top: 24px;

            li{
                margin-bottom: 16px;
                font-size: 24px;
                font-weight: 400;
                color: $text-S;

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}
