@use '../common/color' as *;

header{
    width: 100%;
    height: 64px;
    background-color: $bg-S;
    box-shadow: 0 0 10px $shadow-H;

    .inner{
        align-items: center;
        justify-content: space-between;

        .logo{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            width: 20%;

            h1{
                font-size: 24px;
                font-weight: 600;
                color: $text-P;
            }
        }
        nav{
            ul{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 20px;

                li{
                    a{
                        font-size: 18px;
                        color: $text-P;
                        font-weight: 400;
                    }
                }
            }
        }
        .btn-wrap{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 20%;
        }
    }
}