@use '../common/color' as *;

.button-ui{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    padding: 4px 10px;
    background-color: $blue;
    border-radius: 10px;
    font-family: 'L';
    font-size: 14px;
    color: $white;
}