@use '../common/color' as *;

.button-ui{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    padding: 4px 12px;
    background-color: #007aff;
    border-radius: 20px;
    font-family: "L";
    font-size: 15px;
    color: #fff;
}