@use '../common/color' as *;

.home{
    .inner{
        flex-direction: column;
        justify-content: center;
        padding-top: 100px;

        .title{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4px;
            margin-bottom: 40px;
            
            h2, h3{
                font-family: 'B';
                font-size: 56px;
            }
            h2{
                color: $black;
                font-size: 64px;
            }
        }
        .btn-wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            margin-bottom: 80px;

            .button-ui{
                padding: 10px 14px;
                border-radius: 24px;
                font-family: 'L';
                font-size: 16px;

                &:first-child{
                    background-color: $blue;
                    color: $white;
                }
                &:last-child{
                    background-color: $white;
                    color: $gray;
                    border: 1px solid $gray;
                }
            }
        }
        .text-wrap{
            h3{
                font-family: 'L';
                font-size: 40px;
                text-align: center;
            }
        }
    }
}