@use '../common/color' as *;

.home{
    padding-bottom: 100px;

    > .inner{
        flex-direction: column;
        justify-content: center;


        .btn-wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            margin-bottom: 60px;

            .button-ui{
                min-width: 120px;
                max-width: 120px;
                min-height: 40px;
                max-height: 40px;
                padding: 10px 24px;
                border-radius: 24px;
                font-family: 'L';
                font-size: 16px;

                &:first-child{
                    background-color: $accent-blue;
                    color: $text-P;
                }
                &:last-child{
                    background-color: $text-P;
                    color: $accent-red__hover;
                    border: 1px solid $border-P;
                }
            }
        }
        section{
            padding: 100px 0 0;
        
            .sub-title{
                margin-bottom: 80px;

                &.right{
                    text-align: right;

                    h3{
                        justify-content: flex-end;
                    }
                }
            }
        }
        .review-tab{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 40px;
            padding: 24px;
            padding-top: 0;

            .write-review{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 16px;
                width: 100%;

                select{
                    width: 110px;
                    padding: 8px;
                    background-color: $bg-T;
                    border-radius: 6px;
                    border: 1px solid $border-P;
                    color: $text-S;
                    outline: none;

                    option{
                        color: $accent-yellow;
                    }
                }
                input{
                    width: 80%;
                    height: 40px;
                    padding: 8px;
                    background-color: $bg-T;
                    border: 1px solid $border-P;
                    border-radius: 6px;
                    outline: none;
                    color: $text-S;

                    &::placeholder{
                        color: $text-S;
                    }
                }
                &-btn{
                    width: 40px;
                    min-height: 40px;
                    height: 40px;
                    background-color: $bg-T;
                    border-radius: 6px;
                    transition: all 0.3s ease;
                    cursor: pointer;

                    &:hover{
                        background-color: $accent-blue__hover;
                    }
                }
            }
            .row{
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                
                .review-card{
                    background-color: $border-S;
                }
            }
        }
    }
}