@font-face{
    src: url('/fonts/AppleSDGothicNeoEB.ttf');
    font-family: 'EB';
}

@font-face{
    src: url('/fonts/AppleSDGothicNeoB.ttf');
    font-family: 'B';
}

@font-face{
    src: url('/fonts/AppleSDGothicNeoL.ttf');
    font-family: 'L';
}

@font-face{
    src: url('/fonts/AppleSDGothicNeoT.ttf');
    font-family: 'T';
}